<!DOCTYPE html>
<html lang="es">
  <!--
    HEAD= INFORMACION DE LA PAGINA.
    -METADATA:
    *DESCRIPCION DE LA PAGINA.
    *PALABRAS CLAVES.
    *LINKS CSS.
    *ICONO DE LA PAGINA.
    *TITULO DE LA PAGINA.-->
  <head>
    <meta name="description" content="" />
    <meta
      name="Keywords"
      content="ECUADOR, hitoria de Ecuador
    blog de Ecuador, Costa,Sierra,Oriente,
    Galapagos"
    />
    {%  load static %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />
    <link rel="icon" href="{% static 'img/1.png' %}" />
    <title>Bloc  de las Regiones de Ecuador</title>

    <!--link rel="STYLESHEET" type="text/css" href="css/index.css"-->
  </head>

  <!--BODY = CUERPO DE LA PAGINA-->
  <body>
    <!--
    -ETIQUETAS DE SECCION:
    *HEADER = INFORMACION INTRODUCTORA.
    -->
    <header class="cabecera">
      <div class="logo">
        <a href="#" class="logo"
          ><img
                src="{% static 'img/1.png' %}"
            width="70"
            height="70"
            alt="LOGO EC"
        /></a>
      </div>
    </header>
    <header class="cabecera1">
     <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
</html>
      <div>
        <center>
        <nav class="navegacion1">
          <ul>
            <li><a href="Costa.html">Costa</a></li>
            <li><a href="Sierra.html">Sierra</a></li>
            <li><a href="Oriente.html">Oriente</a></li>
            <li><a href="Galapagos.html">Galapagos</a></li>
          </ul>
        </nav>
        </center>
      </div>
    </header>

    <!--
    -ETIQUETAS DE SECCION:
    *NAV = ENLACES DE NAVEGACION.
    -->
    <nav></nav>

    <!--
    ETIQUETAS DE SECCION:
    *SECTION = SECCION GENERAL DEL DOCUMENTO, BLOQUES DE CONTENIDO.
    -->
    <section>
      <h1 class="titulo">Breve historia de Ecuador:</h1>
      <p>
        La historia de Ecuador se remonta a miles de años atrás. Evolucionó de grupos indígenas
        aislados a la poderosa civilización Inca, la cual fue conquistada en 1532 por los españoles
        y consecuentemente liberada de su dominio colonial por Simón Bolívar en 1822. Como nación
        independiente, Ecuador ha disfrutado de una paz relativa, a pesar de un conflicto fronterizo
        con Perú en 1941 que le costó una gran parte de su territorio.

        Ciertamente Ecuador tiene una historia tumultuosa. Desde que se convirtió en una nación independiente
        en 1830, ha pasado por casi 100 cambios en el gobierno y 20 constituciones (la más reciente redactada en 2008).
        Alimentando la volatilidad de la nación andina están las rivalidades tanto internas como externas.
      </p>
      <center>
      <div class="EC">
        <img src="{% static 'img/EC.jpg' %}" width="400" height="200" alt="EC" />
      </div>
      </center>
      <p>
        El pueblo ecuatoriano ha visto a lo largo de su historia el ascenso y caída de líderes grandes y pequeños,
        que han dejado su legado en esta nación. Para los eruditos, los héroes desconocidos de la historia
        ecuatoriana son sus grupos indígenas, descendientes de algunas de las grandes culturas que alguna vez
        florecieron en las Américas.
        En la historia moderna, a pesar de que Ecuador está frenado por líderes gubernamentales corruptos y
        una constante batalla contra la pobreza, se ha desarrollado como uno de los destinos más importantes
        de Sudamérica, gracias a su tremenda biodiversidad en las cuatro zonas ecológicas y a su bien preservada cultura colonial.
      <div class="ps">
        <img src="{% static 'img/ECUADOR.jpg' %}" width="900" height="500" alt="ECUADOR" />
      </div>
    </section>
    <p>VIDEO DE ECUADOR</p>
      <div style="text-align: center">
        <iframe width="800" height="315" src="https://www.youtube.com/embed/ZK9iP5PEhSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    <!--
    ETIQUETAS DE SECCION:
    *ASIDE = CONTENIDO RELACIONADO CON EL CONTENIDO.
    -->
    <aside></aside>
    <!--Carrusel-->
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/ECUADOR.jpg' %}"  class="d-block w-100" width="400" height="300" alt="ECUADOR">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/Costa.jpg' %}" class="d-block w-100" width="700" height="300" alt="Costa">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/Oriente2.jpg' %}" class="d-block w-100" width="700" height="300" alt="EC">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!--
    ETIQUETAS DE SECCION:
    *FOOTER = INFORMACION ADICIONAL SOBRE EL DOCUMENTO.
    -->
    <footer class="pie">
      Diseñado por CS y PB -  DERECHOS RESERVADOS
    </footer>
  </body>
</html>